.csow-custom-field-image-radio {
    display: inline-block;
    margin-right: 10px;
}

img.radio-select-img-item{
    border: solid 2px #dcdcdc;
    border-radius: 3px;
    margin-right: 0;
    cursor: pointer;
    width: 50px;
}

img.radio-select-img-item:hover {
    border: solid 2px #b3d4fc;
}
img.radio-select-img-item.item-checked {
    border: solid 2px #0074a2;
}

.csow-custom-field-image-radio label.csow-custom-field-label{
    font-weight: normal;
    text-align: center;
    display: block !important;
}
